.nav_usual {
  background-color: #262732;
}

.nav_on_scroll {
  filter: drop-shadow(0 0 12px rgba(0,0,0,0.25));
  animation: onscroll 1.5s normal ease forwards;
}

@keyframes onscroll {
  0% {
    background-color: #262732;
  }
  100% {
    background-color: #fff;
    filter: drop-shadow(0 0 12px rgba(0,0,0,0.25));
  }
}

.nav_box {
  width: 100%;
  height: 100%;
  display:  flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.nav_box .nav_logo {
  width: 10%;
}

.nav_box .nav_logo img{
  widows: 100%;
}

.nav_box .navbar {
  width: 70%;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.nav_box .navbar .nav_item .nav_link {
  text-decoration: none;
  font-size: 14px;
  line-height: 27px;
  color: #fff;
  font-weight: 500;
  font-family: "Poppins";
  padding: 10px 0px;
  transition: all .5s ease;
}

.nav_box .navbar .nav_item .nav_link:hover {
  color: #fc5f45;
}